<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{components/header :: head(title='Formação')}">
</head>
<body>
<div th:replace="~{components/header :: header}"></div>
<div th:replace="~{components/nav :: nav}"></div>

<main>
  <section>
    <h3>Engenharia de Software</h3>
    <p>Universidade Federal do Ceará<br>
      Campus Russas<br>
      2022 - 2024</p>

    <h3>Análise e Desenvolvimento de Sistemas</h3>
    <p>Universidade de fortaleza 2024 - Presente</p>
  </section>


</main>

<div th:replace="~{components/footer :: footer}"></div>
</body>
</html>