<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{components/header :: head(title='Habilidades')}">
</head>
<body>
<div th:replace="~{components/header :: header}"></div>
<div th:replace="~{components/nav :: nav}"></div>

<main>
    JavaScrip, Html, Phyton - iniciante
    Suporte e manutenção de hardware.
    Pacote Office
    Levantamento de Requisitos
    Automação de Eventos
    Configuração de Sistemas de Rede
    Gestão de Projetos de Software
</main>

<div th:replace="~{components/footer :: footer}"></div>
</body>
</html>