<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{components/header :: head(title='Início')}">
</head>
<body>
<div th:replace="~{components/header :: header}"></div>
<div th:replace="~{components/nav :: nav}"></div>

<main>
    <section>
        <h2>Informações de Contato</h2>
        <p>Email: arturingschmidt@hotmail.com</p>

        <h2> Telefone</h2>
        <p>(85)98181-5840</p>
    </section>
</main>

<div th:replace="~{components/footer :: footer}"></div>
</body>
</html>